.MainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.input.button {
  background: #f5f5f5;
  color: #f52222;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
